   
<div *ngIf="proyecto">
 
  <form (ngSubmit)="actualizarProyecto()">
    <div class="input-container">
      <p class="titulo">Editar proyecto </p>
      <input
        type="text"
        placeholder="Título"
        [(ngModel)]="titulo"
        name="titulo"
        required
      />
    </div>

    <!--<div class="input-container">
      <input
        type="text"
        placeholder="Descripción"
        [(ngModel)]="descripcion"
        name="descripcion"
        required
      />
    </div>-->
    <div class="input-container">
      
      <textarea
  placeholder="Descripción"
  [(ngModel)]="descripcion"
  name="descripcion"
  required
  rows="1"
  #textArea
  (input)="autoResize(textArea)"
  (ngModelChange)="autoResize(textArea)"  
></textarea>

    </div>
    
  
    <div class="input-container">
      <input
        type="text"
        placeholder="Tecnologías"
        [(ngModel)]="tecnologias"
        name="tecnologias"
        required
      />
    </div>

    <div class="input-container">
      <input
        type="text"
        placeholder="Participantes"
        [(ngModel)]="participantes"
        name="participantes"
        required
      />
    </div>

    <div class="input-container">
      <input
        type="text"
        placeholder="Imagen"
        [(ngModel)]="imagen"
        name="imagen"
        required
      />
    </div>

    <button type="submit">Actualizar</button>
    <p class="sign-up-label">¿Quieres dejarlo como está? <span class="parrafo-volver sign-up-link" (click)="goToListar()">Volver</span></p>
  </form>
  
</div>

