<p>update-proyecto works!</p>
<hr />
<div *ngIf="proyecto">
  <h2>Editar Proyecto</h2>
  <form (ngSubmit)="actualizarProyecto()">
    <div class="input-container">
      <input
        type="text"
        placeholder="Título"
        [(ngModel)]="titulo"
        name="titulo"
        required
      />
    </div>

    <div class="input-container">
      <input
        type="text"
        placeholder="Descripción"
        [(ngModel)]="descripcion"
        name="descripcion"
        required
      />
    </div>

    <div class="input-container">
      <input
        type="text"
        placeholder="Tecnologías"
        [(ngModel)]="tecnologias"
        name="tecnologias"
        required
      />
    </div>

    <div class="input-container">
      <input
        type="text"
        placeholder="Participantes"
        [(ngModel)]="participantes"
        name="participantes"
        required
      />
    </div>

    <button type="submit">Actualizar</button>
  </form>
</div>
