
<form class="form" (ngSubmit) = "addProject(titulo, descripcion, tecnologias, participantes, imagen)">
    <div class="input-container">
      <p class="titulo">Crear proyecto </p>
        <input 
          type="text" 
          placeholder="Título del proyecto" 
          required
          [(ngModel)]="titulo" 
          name="titulo"
        >
      </div>
      
      <div class="input-container">
        <textarea 
          placeholder="Descripción del proyecto" 
          required
          [(ngModel)]="descripcion" 
          name="descripcion"
        ></textarea>
      </div>
    
      <div class="input-container">
        <input 
          type="text" 
          placeholder="Tecnologías utilizadas" 
          required
          [(ngModel)]="tecnologias" 
          name="tecnologias"
        >
      </div>
    
      <div class="input-container">
        <input 
          type="text" 
          placeholder="Participantes" 
          required
          [(ngModel)]="participantes" 
          name="participantes"
        >
      </div>

      <div class="input-container">
        <input 
          type="text" 
          placeholder="Url imagen" 
          required
          [(ngModel)]="imagen" 
          name="imagen"
        >
      </div>
      
      <button type="submit" class="submit">
        Enviar
      </button>
      <p class="sign-up-label">¿No quieres crear un proyecto nuevo? <span class="parrafo-volver sign-up-link" (click)="goToListar()">Volver</span></p>
  </form>
  
