<p>crear-proyecto works!</p>
<hr>
<form class="form" (ngSubmit) = "addProject(titulo, descripcion, tecnologias, participantes)">
    <div class="input-container">
        <input 
          type="text" 
          placeholder="Título del proyecto" 
          required
          [(ngModel)]="titulo" 
          name="titulo"
        >
      </div>
      
      <div class="input-container">
        <textarea 
          placeholder="Descripción del proyecto" 
          required
          [(ngModel)]="descripcion" 
          name="descripcion"
        ></textarea>
      </div>
    
      <div class="input-container">
        <input 
          type="text" 
          placeholder="Tecnologías utilizadas" 
          required
          [(ngModel)]="tecnologias" 
          name="tecnologias"
        >
      </div>
    
      <div class="input-container">
        <input 
          type="text" 
          placeholder="Participantes" 
          required
          [(ngModel)]="participantes" 
          name="participantes"
        >
      </div>
      
      <button type="submit" class="submit">
        Enviar
      </button>
  </form>
  
